{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

    <h1>Look for a stock symbol!</h1>

    <form action="/quote" method="post">
        <div class="quote_form">
            <input autocomplete="off" autofocus class="form-control w-auto" id="stock_symbol" name="symbol" placeholder="stock name" type="text">
            <button class="btn btn-primary" id="quote_submit" type="submit">Search</button>
        </div>
    </form>
    <main class="container-fluid py-5 text-center">
        {% block quoted %}

        {% endblock %}
    </main>
{% endblock %}
